.singleword
{
    padding:15px 10px 15px 10px;
    float:left;
    line-height:50px;
    font-size:36px;
    border:2px solid #3366aa;
    margin-left:10px;
    font-weight:bold;
}

.curCaption
{
    background: url(../images/arrow.png) no-repeat left 10px;
}

.curCaptionwithMargin
{
    background: url(../images/arrow.png) no-repeat left 10px;
    background-position-x: 70px;
}

.curQuestionCaption
{
    color:Gray;
}

.title_box #guide
{
    line-height: 18px;
	margin: 0px 15px;
}

.title_box .guide
{
    line-height: 18px;
    margin: 0px 15px;
}