*{
	margin: 0;
	padding: 0;
}

body {
	font-family: Microsoft YaHei;
	font-size: 12px;
	font-weight: normal;
	color: #333;
	margin: 0;
	padding: 0;
	background:#505051;
	-webkit-user-select: none;
}

input{ /*font-family:Arial, Helvetica, sans-serif;*/ font-size: 12px;}

a {
	color: #003399;
	text-decoration: none;
}

a:hover {
	color: #FF8C00;
	text-decoration:underline;
}

a.underline{
	text-decoration:underline;
	font-size: 14px;
	font-weight:bold;
}

img{
	border: 0;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
li{
	list-style: none;	
}

h1,h2,h3,h4{ padding:0; margin: 0; line-height: 0; font-size: 14px;}

p{ line-height: 18px;}

.disappear
{
	display:none;
}
.clear{
	clear: both;
}
.left{
	float: left;
}
.right{
	float: right;
}

/*--------Login--2010-09-07---------------------------------------------*/
.soft_box{
	width: 1024px;
	height: 768px;
}

.login_head{
	height: 125px;
	background:url(../images/login_head.jpg) no-repeat;
}

.login_top{
	height: 90px;
	background:url(../images/login_top.jpg) no-repeat;
}

.login_main{
	height: 310px;
}

.login_main .login_box{
	width: 520px;
	height: 300px;
	padding: 10px 130px 0;
	float:left;
	background:url(../images/login_box.jpg) no-repeat;
}

.login_main .login_numb{
	width: 244px;
	height: 310px;
	float:right;
	background:url(../images/login_numbg.jpg) no-repeat;
}

.login_btns{
	height: 80px;
	padding: 60px 0 0 250px;
	background:url(../images/login_btns.jpg) no-repeat;
}

.login_bottom{
	height: 103px;
	background:url(../images/login_bottom.jpg) no-repeat;
}

table td.img{
	width: 150px;
	padding-top: 12px;
}

table td.img img{
	width: 120px;
	height: 160px;
	border: 1px solid #7eafd8;
}

table td.name{
	background:url(../images/name.jpg) left no-repeat;
	line-height: 55px;
	height: 55px;
	padding-left: 150px;
	font-size: 16px;
	font-weight:bold;
	width: 190px;
}

.loginInf
{
	overflow:hidden;
	white-space:nowrap;
	width:215px;
	float:left;
	text-overflow:ellipsis;
}

table td.zkz
{
	background: url(../images/zkz.jpg) left no-repeat;
	line-height: 55px;
	height: 55px;
	padding-left: 150px;
	font-size: 16.5px;
}

table td.zkz_hd
{
	background: url(../images/zkz_hd.jpg) left no-repeat;
	padding-left: 60px;
	line-height: 56px;
	font-size: 20px;
	font-weight: bold;
}

table td.news{
	background:url(../images/news_1.jpg) left top no-repeat;
	height: 108px;
}

table td.login_content{
	line-height: 24px;
	font-size: 24px;
	font-weight:bold;
	color:#1a6bb6;
}

/*table td.login_tip1{
background:url(../images/login_tip1.jpg) 175px 10px no-repeat;
height: 65px;
}*/
table td.login_tip1
{
	background:url(../images/login_tip1.jpg) 163px 10px no-repeat;
	height: 65px;
	position: relative; 
	text-align:left;
	display:none;
}


/*--------ExamBox--2010-09-10---------------------------------------------*/
.exam_box{
	width: 815px;
	height: 663px;
	background:#FFFFFF;
	overflow-x:hidden;
	overflow-y:auto;
}

.exam_box .test_sound{
	text-align:center;
	padding-top: 50px;
}

.exam_box .test_text
{
	text-indent:2em;
	margin: auto;
	margin-top: 100px;
	width: 600px;
	height: 400px;
	background-color: #DFE9F4;
	border-radius: 10px;
	font-family: Microsoft YaHei;
	font-size: 22px;
	padding: 90px 30px 0;
	line-height: 1.5;
	color: #3C6EB4;
}

.exam_box .btn_box{
	padding: 15px 0;
	text-align:center;
}

.btn_usual{
	width: 110px;
	height: 42px;
	text-align:center;
	font-size: 16px;
	font-weight:bold;
	color:#fff;
	background:url(../images/btn.gif) no-repeat;
	border:none;
	display: inline;
	margin-right: 20px;
}

.btn_blue{ background-position: 0 -84px;}
.btn_blueHover{ background-position: -110px -84px;}
.btn_blueDown{ background-position: -220px -84px;}
.btn_blueDisable{ background-position: -330px -84px;}
.btn_orange{ background-position: 0 -42px;}
.btn_orangeHover{ background-position: -110px -42px;}
.btn_orangeDown{ background-position: -220px -42px;}
.btn_orangeDisable{ background-position: -330px -42px;}
.btn_green{ background-position: 0 0;}
.btn_greenHover{ background-position: -110px 0;}
.btn_greenDown{ background-position: -220px 0;}
.btn_greenDisable{ background-position: -330px 0;}

.exam_box .title_box{
	padding: 15px 15px 0;
	font-size: 14px;
}

.exam_box .title_box .title{
	line-height: 30px;
	background-color:#dfe9f4;
	padding: 0 15px;
	_width:755px;
	font-weight:bold;
	font-size: 24px;
}

.exam_box .title_box .title p{
	line-height: 30px;
	background-color:#dfe9f4;
	_width:755px;
	font-weight:bold;
	font-size: 24px;
	display: inline;
}

.exam_box .title_box span{
	line-height: 18px;
	padding: 10px 15px;
	display:block;
}
.exam_box .caption{
	padding: 0 0 5px 36px;
	line-height: 24px;
	font-size: 16px;
}

.exam_box .caption .Caption_QuestionText p{
	line-height: 1.5;
	font-size: 24px;
	font-weight: bold;
	display: inline;
	padding: 0px;
}

.exam_box .caption font{
	width: 28px;
	display:block;
	padding-right: 10px;
	float:left;
	text-align: right;
}

.exam_box .caption .Caption_QuestionText_RSP h1{
	line-height: 1.5;
	font-size: 24px;
	font-weight:bold;
}
.exam_box .caption .Caption_QuestionText_RSP h1 p{
	line-height: 1.5;
	font-size: 24px;
	font-weight:bold;
	display: inline;
}

.exam_box .caption .Caption_QuestionText_RSP h1>font{
	line-height: 1.5;
	font-size: 24px;
	font-weight:bold;
}

.exam_box .caption h1{
	line-height: 1.5;
	font-size: 24px;
	font-weight:bold;
}

.exam_box .caption h1>font{
	line-height: 1.5;
	font-size: 24px;
	font-weight:bold;
}

.exam_box .caption p
{
	line-height: 30px;
	padding-left: 20px;
	font-size: 16px;
}

.exam_box .caption span.item_choice{
	padding-right: 20px;
}

.exam_box .caption span img{
	padding: 10px 5px 5px;
}

.exam_box .words{
	padding: 0 40px 5px;
	line-height: 30px;
	font-size: 24px;
	word-wrap:break-word;
}

.exam_box .words img{
	padding: 5px;
}

.exam_box .words .content_main
{
	padding: 5px 20px 5px 20px;
	width: 300px;
	height: 220px;
	cursor: pointer;
	overflow: hidden;
	display: inline;
	float: left;
}

.exam_box .words .content_main span .picture_main
{
	width: 260px;
	height: 200px;
	margin: 5px 20px 5px 20px;
}

.exam_box .words .question_main
{
	height: 80px;
	margin-top: 20px;
}

.exam_box.words .select_main
{
	height: 40px;
	margin-top: 20px;
}

/*0917==========================*/
.test_zzxz{
	background:url(../images/sycg_zzxz.jpg) no-repeat left;
	width:78px;
	height:27px;
	padding:123px 0 0 180px;
	margin:0 auto;
}
.test_zzxz img{
	width:24px;
	height:24px;
}
.btn_box input{
	cursor:pointer;
}

.words .guidTxt {
	padding-bottom:5px;
	/*font-family: verdana, tahoma, helvetica, arial, sans-serif;*/
	font-size: 19px;
	font-weight: normal;
}

.promptTxt {
	/*font-family: verdana, tahoma, helvetica, arial, sans-serif;*/
	padding-top: 10px;
	font-size: 18px;
	line-height: 1.5;
	font-weight: normal;
	margin: 0px 15px;
	text-indent: 2em;
}

.captionPromptTxt{
	padding-top: 10px;
	font-size: 18px;
	line-height: 1.5;
	font-weight: normal;
}

/*0929*/
.test_shiy{
	background:url(../images/shiyin2.jpg) no-repeat;
	width:240px;
	height:65px;
	margin:0 auto;
	padding:215px 0 0 460px;
}

.test_shiy input{
	border:0px;
	margin-left:10px;
	width:40px;
	height:40px;
}
.ts_play{
	background:url(../images/sy_play.gif) no-repeat 0 0;
	cursor:pointer;
}

.ts_playhov{
	background:url(../images/sy_play.gif) no-repeat 0 -40px;
	cursor:pointer;
}
.ts_playpre{
	background:url(../images/sy_play.gif) no-repeat 0 -80px;
	cursor:pointer;
}

.ts_play_dis{
	background:url(../images/sy_play.gif) no-repeat 0 -120px;
	cursor:pointer;
}

.ts_stop{
	background:url(../images/sy_stop.gif) no-repeat 0 0;
	cursor:pointer;
}

.ts_stophov{
	background:url(../images/sy_stop.gif) no-repeat 0 -40px;
	cursor:pointer;
}
.ts_stoppre{
	background:url(../images/sy_stop.gif) no-repeat 0 -80px;
	cursor:pointer;
}

.ts_stop_dis{
	background:url(../images/sy_stop.gif) no-repeat 0 -120px;
	cursor:pointer;
}

/*1127--------------------------*/
/*-------------------------pop--------1126-------------------*/
.pop_mask{
	position:fixed;
	z-index:999;
	left:0;top:0;
	width:100%;
	height:100%;
	opacity:0.4;
	filter:alpha(opacity=40);
	background-color:black;
}
.pop_body{
	z-index:10000;
	width:100%;
	height:100%;
	position:fixed;
	top:0;left:0;
	padding-top:200px;
}
.pop_box{
	width:350px;
	margin:0 auto;
}
.pop_top{
	height:31px;
}
.pop_top .top_left{
	background:url(../images/pop_top_left.png) no-repeat;
	height:31px;
	float:left;
	width:10px;
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/pop_top_left.png", sizingMethod="crop");
}
.pop_top .top_cen{
	background:url(../images/pop_top_cen.png) repeat-x;
	height:31px;
	width:303px;
	float:left;
}
.top_title{
	font-size:14px;
	color:#fff;
	line-height:31px;
	float:left;
	padding-left:6px;
	font-weight:bold;
}
.pop_close{
	height:20px;
	float:right;
	margin-top:6px;
}
.pop_close input{
	height:20px;
	width:20px;
	cursor:pointer;
	border:none;
	outline:none;
}
.pop_top .top_right{
	background:url(../images/pop_top_right.png) no-repeat;
	height:31px;
	float:right;
	width:10px;
	float:left;
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/pop_top_right.png", sizingMethod="crop");
}
.pop_cen{
	background:url(../images/pop_cen.png) repeat-y;
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/pop_cen.png", sizingMethod="scale");
	font-size:12px;
	line-height:22px;
	color:#535353;
	overflow:hidden;
	padding:15px 10px 15px 15px;
	width:298px;
}

.pop_cen p{
	width:298px;
	text-indent:2em;
	font-family:SimSun;
	font-size: 13px;
	//margin:0 auto;
}

.pop_bottom{
	background:url(../images/pop_bottom.png) no-repeat;
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/pop_bottom.png", sizingMethod="crop");
	height:10px;
}
.pop_btn{
	height:30px;
	margin:15px auto 0;
	text-align:center;
}
.pop_btn input{
	height:30px;
	width:80px;
	cursor:pointer;
	border:none;
	outline:none;
	color:#ffffff;
	font-size:14px;
	margin:0 10px;
}

.pop_closenor{background:url(../images/pop_close_nor.gif) no-repeat;}/*------2013.11.25add-----*/
.pop_closehov{background:url(../images/pop_close_hov.gif) no-repeat;}/*------2013.11.25add-----*/
.pop_btnnor{background:url(../images/pop_btn.gif) top no-repeat;}/*------2013.11.25add-----*/
.pop_btnhov{background:url(../images/pop_btn.gif) bottom no-repeat;}/*------2013.11.25add-----*/

.table_27{
	width:600px;
	border:1px solid #9bb7cc;
	border-left:0;
	margin:30px auto 20px;
}
.table_27 th{
	line-height:32px;
	height:32px;
	overflow:hidden;
	border-left:1px solid #9bb7cc;
	font-size:14px;
	letter-spacing:2px;
	color:#535353;
	background:url(../images/mnt_right_title.jpg) repeat-x;
}
.table_27 td{
	line-height:32px;
	border-left:1px solid #9bb7cc;
	border-top:1px solid #9bb7cc;
	font-size:14px;
	letter-spacing:2px;
}
.table_27 td a{
	margin:0 5px;
}

.blueButton {
	cursor:pointer;
	text-decoration:underline;
	color:blue;
	border:0px
}
.greyButton {
	cursor:pointer;
	text-decoration:underline;
	border:0px
}
.redButton {
	cursor:pointer;
	text-decoration:underline;
	color:red;
	border:0px
}

.check_normal{
	background:url(../images/check_btn.png) no-repeat 0 0px;
	padding-top: 3px;
}

.check_checked{
	background:url(../images/check_btn.png) no-repeat 0 -62px;
	padding-top: 3px;
}