.Choice_QuestionNumber
{
    border-bottom:1px dashed black;
}

.TextReading_Content p
{
    /*text-indent:40px;*/
    padding-left:0px;
    font-size: 22px;
    line-height: 1.8;
    text-align: justify;
    margin-top: 20px;
}

.TextReading_Content
{
    /*text-indent:2em;*/
    padding-left:0px;
    font-size: 20px;
    line-height: 1.8;
    text-align: left;
    margin-top: 20px;
    font-weight: bold;
}

.TextReading_Content p
{
    /*text-indent:2em;*/
    padding-left:0px;
    font-size: 20px;
    line-height: 1.8;
    text-align: left;
    margin-top: 20px;
    font-weight: bold;
}

.TextReading_Tip
{
    padding-top:18px;
    font-size:16px;
    text-indent:0px;
}

.TextReading_Prompt
{
    padding-top:16px;
    padding-bottom:16px;
    font-size:18px;
}

.FillBlank_Choice_Format
{
    padding-left:32px;
}

.QuestonAnswer_Number
{
    border-bottom:1px dashed black;
}

.SituationQuestionAnswer_Content
{
    text-indent:0px;
    padding-left:0px;
    padding-top:15px;
    padding-bottom:15px;  
}

.SituationQuestionAnswer_Guide
{
    padding-top:15px;
    padding-bottom:15px;
    padding-left:0px;
}

.SituationQuestionAnswer_Prompt
{
    padding-top:16px;
    padding-bottom:16px;
    font-size:18px;
}

.TopicStatement_Guide
{
    padding-top:10px;
    text-indent:32px;
}

.TopicStatement_QuestionNumber
{
    border-bottom:1px dashed black;
}

.TopicStatement_Prompt
{
    padding-top:16px;
    padding-bottom:16px;
    font-size:18px;
}

.TopicStatement_Tip
{
    padding-left:32px;
    line-height: 1.8;
    margin-top: 20px;
    font-size: 22px;
}